<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/home.css" />
    <link rel="stylesheet" href="./styles/footer.css" />
    <style>
      [v-cloak] > *,
      [v-cloak] {
        display: none;
      }
    </style>
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row justify-content-between align-items-center" id="header">
          <img src="./images/GOMNE_horizontalni-logo.png" alt="" />
          <div>Home</div>
        </div>
      </div>
    </header>
    <div id="app" v-cloak>
      <section class="booking">
        <div class="container">
          <!-- <h1>Book your airport taxi</h1>
					<h5>Easy airport transfers to and from your accommodation</h5> -->
          <div class="mt-4">
            <input checked id="one-way" type="radio" value="0" v-model="returnTrip" name="direction" />
            <label for="one-way">One-way</label>
            <input class="ml-3" id="return" type="radio" value="1" v-model="returnTrip" name="direction" />
            <label for="return">Return</label>
          </div>
          <div class="row mt-3 mb-3 transfer-form align-items-cemter">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 col-12 pr-0 location">
                  <div class="location__inner">
                    <label>From</label>
                    <el-autocomplete
                      :trigger-on-focus="false"
                      class="inline-input w-100"
                      :class="{'select--error': showError && selectedPoint.from === ''}"
                      v-model="fromAddress"
                      :fetch-suggestions="querySearch"
                      placeholder="Podgorica Airport"
                      v-on:select="onFromAddressSelect"
                    ></el-autocomplete>
                  </div>
                </div>
                <div class="col-md-6 col-12 pr-0 location">
                  <div class="location__inner">
                    <label>To</label>
                    <el-autocomplete
                      :trigger-on-focus="false"
                      class="inline-input w-100"
                      :class="{'select--error': showError && selectedPoint.to === ''}"
                      v-model="toAddress"
                      :fetch-suggestions="querySearch"
                      placeholder="Podgorica"
                      v-on:select="onToAddressSelect"
                    ></el-autocomplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 pr-0 clients">
              <div class="d-flex align-items-center mt-2 mb-3">
                <img src="./icons/users.svg" class="passengers-icon" alt="" />
                <el-select v-model="passengers" placeholder="Select" class="mt-1 w-100">
                  <el-option v-for="item in passangersOptions" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                </el-select>
              </div>
            </div>
            <div class="col-md-3 col-12 pl-0 pr-0">
              <button id="search-button" class="search-button" v-on:click="showPrices">
                <img src="./icons/search.svg" alt="" />
                Show prices
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="home-info">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-12 home-info__item">
              <div class="home-info__icon">
                <img src="./images/plane.png" alt="" />
              </div>
              <div class="home-info__text">
                <h6>Flight tracking</h6>
                <p>Your driver tracks your flight and waits for you if it's delayed</p>
              </div>
            </div>
            <div class="col-md-4 col-12 home-info__item">
              <div class="home-info__icon">
                <img src="./images/card.png" alt="" />
              </div>
              <div class="home-info__text">
                <h6>One clear price</h6>
                <p>Your price is confirmed upfront - no extra costs, no cash required</p>
              </div>
            </div>
            <div class="col-md-4 col-12 home-info__item">
              <div class="home-info__icon">
                <img src="./images/tick.png" alt="" />
              </div>
              <div class="home-info__text">
                <h6>Tried and trusted</h6>
                <p>We work with professtional drivers and have 24/7 customer care</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer__title">Call us</div>
            <div class="footer__contact mt-1">+382 69 737 787</div>
            <div class="footer__title mt-2">Email us</div>
            <div class="footer__contact mt-1">support@gomontenegro.me</div>
            <div class="footer__title mt-2">Social media</div>
            <div class="footer__social-icons mt-1">
              <img class="mr-1" src="./icons/facebook_icon.svg" alt="" />
              <img class="mr-1" src="./icons/instagram-sketched.svg" alt="" />
              <img class="mr-1" src="./icons/linkedin.svg" alt="" />
              <img class="mr-1" src="./icons/twitter.svg" alt="" />
              <img class="mr-1" src="./icons/youtube.svg" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer__title">Services</div>
            <div class="footer__item mt-2">Airport transfers</div>
            <div class="footer__item">Limo service</div>
            <div class="footer__item">Chauffeur driven tour</div>
          </div>
          <div class="col-md-3">
            <div class="footer__title">Support</div>
            <div class="footer__item mt-2">Cooperation</div>
            <div class="footer__item">Privacy & Security</div>
            <div class="footer__item">Terms & Conditions</div>
          </div>
          <div class="col-md-3">
            <div class="footer__title">Pay Safely With Us</div>
            <div class="footer__item mt-2">You can feel safe with us. We accept Visa, Mastercard, American Express without extra fee.</div>
            <div>
              <img class="footer__payment-option mr-2" src="./icons/visa.svg" alt="" />
              <img class="footer__payment-option mr-2" src="./icons/mastercard.svg" alt="" />
              <img class="footer__payment-option mr-2" src="./icons/american-express.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        returnTrip: 0,
        fromAddress: "",
        toAddress: "",
        passangersOptions: [],
        locations: [],
        passengers: "2",
        showError: false,
        selectedValues: {
          from: "",
          to: "",
        },
        selectedPoint: {
          from: "",
          to: "",
        },
      },
      watch: {
        fromAddress(value) {
          if (value !== this.selectedValues.from) {
            this.selectedPoint.from = "";
          }
        },
        toAddress(value) {
          if (value !== this.selectedValues.to) {
            this.selectedPoint.to = "";
          }
        },
      },
      methods: {
        async querySearch(queryString, cb) {
          var results = await this.loadLocations(queryString);
          cb(results);
        },
        loadLocations(query) {
          return axios.get("https://booking.gomontenegro.me/api/points?term=" + query).then((response) => {
            return response.data.data.map((item) => ({ value: item.name, slug: item.slug }));
          });
        },
        onFromAddressSelect(item) {
          this.selectedPoint.from = item.slug;
          this.selectedValues.from = item.value;
        },
        onToAddressSelect(item) {
          this.selectedPoint.to = item.slug;
          this.selectedValues.to = item.value;
        },
        hideErrorAfter(miliseconds) {
          setTimeout(() => {
            this.showError = false;
          }, miliseconds);
        },
        showPrices() {
          if (this.selectedPoint.from === "" || this.selectedPoint.to === "") {
            this.showError = true;
            this.hideErrorAfter(1000);
            return;
          }
          let link = `https://booking.gomontenegro.me/from-${this.selectedPoint.from}/to-${this.selectedPoint.to}/vehicle-class?passengers=${this.passengers}&return=${this.returnTrip}`;
          window.location.href = link;
        },
      },
      mounted() {
        for (let i = 1; i <= 15; i++) {
          this.passangersOptions.push({
            label: i + " passangers",
            value: i.toString(),
          });
        }
        this.passangersOptions.push({
          label: "16+ passengers",
          value: "16+",
        });
      },
    });
  </script>
</html>
