#footer {
  background: #171717;
  padding: 40px 0;
  color: gray;
}
.footer__title {
  font-size: 15px;
  color: white;
}
.footer__contact {
  color: var(--color-green-light);
  font-size: 14px;
}
.footer__social-icons img {
  margin-bottom: 5px;
  height: 26px;
  width: 26px;
}
.footer__item {
  font-size: 13px;
  color: gray;
}
.footer__payment-option {
  height: 50px;
}
.footer-column a {
  display: block;
  margin-bottom: 5px;
}
.footer-about p {
  font-size: 12px;
}
.footer-about a {
  color: var(--color-green-light);
}
.footer-about img {
  width: 100px;
}
