#header {
  height: 90px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 19px;
  color: var(--color-green-dark);
}
#header img {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
select {
  width: 100%;
}
#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.booking {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://gomontenegro.me/wp-content/uploads/main-header.jpg");
  background-position: 0 40%;
  background-size: cover;
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
}
.w-100 {
  width: 100% !important;
}
.location {
  background: white;
  color: gray;
  font-size: 13px;
  padding: 0;
}
.location__inner {
  border-right: 1px solid #e2e2e2;
}
.location label {
  margin-bottom: 0;
  padding-left: 15px;
  margin-top: 5px;
}
.el-input input {
  border: none;
}
.transfer-form {
  background: #fff;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  border: 8px solid #eaeaea;
}
.passengers-icon {
  width: 25px;
  height: 25px;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-purple);
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 19px;
  border: none;
  padding: 12px;
}
.search-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.el-select-dropdown__item.selected {
  color: var(--color-purple);
}

.home-info {
  /* color: white; */
  /* height: 60px; */
  padding: 20px;
  background-color: #e6e6e6;
}

.home-info__icon {
  margin-right: 15px;
  height: 60px;
  width: 72px;
  border-radius: 50%;
  background: var(--color-green-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-info__icon--dark {
  background: var(--color-green-dark);
}

.home-info__item {
  display: flex;
}
.home-info__text p {
  font-size: 12px;
  color: gray;
}
.home-info h6 {
  font-weight: 700;
}

/* Set height for select2 */
.select2-selection__rendered {
  line-height: 40px !important;
}
.select2-container .select2-selection--single {
  height: 40px !important;
}
.select2-selection__arrow {
  height: 40px !important;
}

.location .select2-selection__rendered::before {
  display: inline-block;
  width: 30px;
  height: 16px;
  content: "";
  background: url("../icons/marker.png") no-repeat;
}

.clients .select2-selection__rendered::before {
  display: inline-block;
  width: 30px;
  height: 16px;
  content: "";
  background: url("../icons/user.png") no-repeat;
}
.select--error {
  border-bottom: 2px solid #ff5959;
  border-radius: 0;
}

@media (max-width: 500px) {
  #header {
    padding: 10px;
  }
  #header img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}
