input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input-number {
  display: flex;
  background: #e6e6e68c;
  align-items: center;
  padding: 6px;
  border-radius: 23px;
}
.input-number .input-number__action {
  background: var(--color-green-light);
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.input-number input {
  border: none;
  width: 50px;
  height: 25px;
  background: #e6e6e60d;
  text-align: center;
  font-family: inherit;
}
.input-number .input-value {
  width: 50px;
  height: 25px;
  background: #e6e6e60d;
  text-align: center;
  font-family: inherit;
}
.input-number input:focus {
  outline: none;
}
