#header {
  height: 90px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 19px;
  color: var(--color-green-dark);
}
#header img {
  height: 100%;
}
#main {
  color: #4e4e4e;
  /* height: 100%; */
  background: #efefef;
}
.transfer-header {
  font-size: 30px;
  font-weight: 700;
}
.secure-text {
  font-size: 13px;
  border-bottom: 1px solid #d6d6d6;
}
.secure-logo {
  height: 40px;
}
.payment-cards img {
  height: 31px;
}
.transfer-option__vehicle {
  background: white;
  padding: 15px;
  height: 100%;
  /* height: 200px; */
}
.transfer-option__image {
  width: 100%;
  height: 110px;
  object-fit: contain;
}
.transfer-option__details {
  border-left: 1px solid #eaeaea;
  padding: 15px 5px 15px 25px;
}
.transfer-option__type {
  font-size: 22px;
  font-weight: 700;
}
.transfer-option__info {
  font-weight: 700;
  color: #515d67;
}
.transfer-option__info img {
  height: 20px;
}
.transfer-option__note {
  font-size: 14px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  color: #9e9e9e;
}
.transfer-option__note img {
  height: 18px;
}
.transfer-option__select {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e8e8e8;
}
.transfer-option__price {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.select-button {
  background: var(--color-purple);
  color: white;
  padding: 10px 10px;
  border: none;
  width: 80%;
}
.help {
  padding: 30px;
  background: white;
}
.help__contact {
  font-size: 16px;
  color: var(--color-green-light);
  font-weight: 700;
}
.help__social img {
  margin-right: 5px;
  height: 28px;
}
.vehicle-description {
  margin-top: 5px;
  background: #f7f7f7;
  padding: 10px;
  font-size: 12px;
  /* border-radius: 5px; */
}

@media (max-width: 500px) {
  #header {
    padding: 10px;
  }
  #header img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
  .transfer-top {
    padding: 10px;
  }
  .transfer-option__details {
    border-left: none;
  }
  .transfers-items {
    padding: 10px;
  }
}
