.car {
	/* border-radius: 5px; */
	min-height: 200px;
	-webkit-box-shadow: 0px 1px 8px 0px rgb(208 208 208 / 48%);
	-moz-box-shadow: 0px 1px 8px 0px rgb(208 208 208 / 48%);
	box-shadow: 0px 1px 8px 0px rgb(208 208 208 / 48%);
}
.car-image {
	height: 120px;
	width: 100%;
	object-fit: contain;
}
.car-description {
	border-radius: 5px;
	padding: 10px;
	background: #f6f6f6;
	font-size: 15px;
}
.car-type {
	font-weight: 700;
}
.price {
	font-weight: 700;
}
.select-car-btn {
	text-transform: uppercase;
	font-weight: 700;
	background: var(--color-green-light);
	width: 80%;
}
.car__payment {
	background: #f6f6f6;
}
.car__payment-types img {
	margin-right: 10px;
}
.car__info {
	color: #616161;
}
.car-info__icon {
	width: 18px;
	height: 18px;
}
