body {
  color: #848484;
}

h1,
h2,
h5 {
  color: black;
}

.input-group-text {
  background: white;
}
.input-group-text img {
  width: 30px;
  height: 18px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}
input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  /* margin: 15px 0; */
  position: relative;
}
.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-minus {
  left: -6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
