#header {
  height: 90px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 19px;
  color: var(--color-green-dark);
}
#header img {
  height: 100%;
}
#main {
  color: #4e4e4e;
  /* height: 100%; */
  /* background: #efefef; */
  background: #e6e6e6;
}
.text--gray {
  color: #989898;
}
.box {
  background: white;
  padding: 20px;
  border: 4px solid #e8e8e8cc;
}
.box__divider {
  border-top: 2px solid #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;
}
.box-title {
  font-weight: 700;
  font-size: 24px;
}
.transfer-point {
  font-weight: 700;
  font-size: 16px;
  background: #f7f7f7;
  padding: 7px 24px;
  display: inline;
  border-radius: 20px;
  padding-left: 47px;
  position: relative;
}
.transfer-point__circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 32px;
  border-radius: 20px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transfer-point__circle::before {
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--color-green-light);
}
.transfer-range {
  padding-top: 7px;
  position: relative;
}
.transfer-range::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;
  height: calc(100% - 30px);
  width: 2px;
  background: var(--color-green-light);
  z-index: 1;
}
.transfer-range__content {
  padding-left: 47px;
}
.form-group label,
label {
  font-size: 13px;
}
.input-group-text {
  background: white;
  border-right: none;
}
.form-control {
  /* background: #f3f3f3; */
  border-radius: 0;
}
.input-group-text img {
  width: 30px;
  height: 18px;
}
.input-group input {
  border-left: none;
}
.return-trip {
  overflow: hidden;
  padding-top: 25px;
  transition: all 0.2s;
}
.return-trip__note {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -24px;
  background: #eef3f9;
  margin-top: 34px;
  padding: 15px 20px;
  border-top: 1px solid #549ef952;
  border-bottom: 1px solid #549ef952;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.return-trip__note img {
  width: 22px;
  height: 22px;
}
.flatpickr-input:read-only {
  background: white !important;
}
.book-button {
  background: var(--color-purple);
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 12px;
}
.cart {
  margin-top: 4px;
  position: sticky;
  top: 5px;
}
.cart__header {
  padding: 10px 15px;
  background: #2d2d2d;
  color: #fff;
}
.cart__image {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.cart__image img {
  width: 25px;
  height: 25px;
}
.cart__content {
  padding: 15px;
  background: #fff;
}
.cart__item {
  position: relative;
  padding: 10px;
  background: #f3f3f3;
  font-size: 14px;
}
.cart__aditional-item {
  padding: 10px;
  font-size: 14px;
}
.cart__point {
  position: relative;
  padding-left: 20px;
}
.cart__item::before {
  content: "";
  height: calc(100% - 35px);
  width: 2px;
  background: #c1c1c1;
  position: absolute;
  left: 13px;
  top: 17px;
}
.cart__point::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c1c1;
  position: absolute;
  left: 0;
  top: 5px;
}
.cart__total {
  padding: 15px;
  background: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__price {
  color: var(--color-green-light);
}
.secure-text {
  font-size: 13px;
  border-bottom: 1px solid #d6d6d6;
}
.secure-logo {
  height: 40px;
}
.payment-cards img {
  height: 31px;
}
@media (max-width: 500px) {
  #header {
    padding: 10px;
  }
  #header img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}
